---
- name: FLATPAK | Enable Flathub repo
  become: true
  flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: system

- name: FLATPAK | Install Bundle Gnome
  become: true
  flatpak:
    name: "{{ item }}"
    remote: flathub
    method: system
    state: present
  with_items: "{{ vars.flatpak.bundles.gnome }}"
  # TODO: Better check
  ignore_errors: yes
  when:
    vars.flatpak.config.bundles.gnome == True

- name: FLATPAK | Install Bundle Theme
  become: true
  flatpak:
    name: "{{ item }}"
    remote: flathub
    method: system
    state: present
  with_items: "{{ vars.flatpak.bundles.themes }}"
  # TODO: Better check
  ignore_errors: yes
  when:
    vars.flatpak.config.bundles.themes == True

- name: FLATPAK | Install Bundle Multimedia
  become: true
  flatpak:
    name: "{{ item }}"
    remote: flathub
    method: system
    state: present
  with_items: "{{ vars.flatpak.bundles.multimedia }}"
  # TODO: Better check
  ignore_errors: yes
  when:
    vars.flatpak.config.bundles.multimedia == True

- name: FLATPAK | Install Bundle Messaging
  become: true
  flatpak:
    name: "{{ item }}"
    remote: flathub
    method: system
    state: present
  with_items: "{{ vars.flatpak.bundles.messaging }}"
  # TODO: Better check
  ignore_errors: yes
  when:
    vars.flatpak.config.bundles.messaging == True

- name: FLATPAK | Install Bundle Office
  become: true
  flatpak:
    name: "{{ item }}"
    remote: flathub
    method: system
    state: present
  with_items: "{{ vars.flatpak.bundles.office }}"
  # TODO: Better check
  ignore_errors: yes
  when:
    vars.flatpak.config.bundles.office == True

- name: FLATPAK | Install Bundle Gaming
  become: true
  flatpak:
    name: "{{ item }}"
    remote: flathub
    method: system
    state: present
  with_items: "{{ vars.flatpak.bundles.gaming }}"
  # TODO: Better check
  ignore_errors: yes
  when:
    vars.flatpak.config.bundles.gaming == True


- name: FLATPAK | Install Bundle Development
  become: true
  flatpak:
    name: "{{ item }}"
    remote: flathub
    method: system
    state: present
  with_items: "{{ vars.flatpak.bundles.development }}"
  # TODO: Better check
  ignore_errors: yes
  when:
    vars.flatpak.config.bundles.development == True
